{% extends 'base.html' %}
{% load static %}
{% block content%}
            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-primary">
                <div class="row py-5 px-4">
                    <div class="col-sm-6 text-center text-md-left">
                        <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">About Me</h1>
                    </div>
                    <div class="col-sm-6 text-center text-md-right">
                        <div class="d-inline-flex pt-2">
                            <h4 class="m-0 text-white"><a class="text-white" href="">Home</a></h4>
                            <h4 class="m-0 text-white px-2">/</h4>
                            <h4 class="m-0 text-white">About Me</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
            <!-- About Start -->
            <div class="container bg-white pt-5">
                {% for i in abouts %}
                <div class="row px-3 pb-5">
                    <div class="col-md-12">
                        <h2 class="mb-4 font-weight-bold">{{ i.name}}</h2>
                        <img class="img-fluid float-left w-50 mr-4 mb-3" src="{{ i.image.url }}" alt="Image">
                        <p class="m-0">
                            {{ i.body }}
                        </p>
                    </div>
                {% endfor %}

                    <div class="col-md-12 pt-4">
                        <div class="d-flex flex-column skills">
                            {% for i in skill %}
                            <div class="progress w-100 mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{ i.degree }}%">{{ i.title }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        <!-- About End -->

            <!-- Footer Start -->
            <div class="container py-4 bg-secondary text-center">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed by <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <!-- Footer End -->
        </div>
    </div>
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}