{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-primary">
                <div class="row py-5 px-4">
                    <div class="col-sm-6 text-center text-md-left">
                        <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">My Blog</h1>
                    </div>
                    <div class="col-sm-6 text-center text-md-right">
                        <div class="d-inline-flex pt-2">
                            <h4 class="m-0 text-white"><a class="text-white" href="">Home</a></h4>
                            <h4 class="m-0 text-white px-2">/</h4>
                            <h4 class="m-0 text-white">My Blog</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
                
                
                <!-- Blog List Start -->
                <div class="container bg-white pt-5">
                    <div class="row blog-item px-3 pb-5">
                        {% for i in blogs %}
                        <div class="col-md-5">
                            <a href="{% url 'detail' i.pk %}"><img class="img-fluid mb-4 mb-md-0" src="{{i.image.url}}" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <a href="{% url 'detail' i.pk %}"><h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{i.title}}</h3></a>
                            <div class="d-flex mb-3">
                                <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{i.create_date}}</small>
                                <small class="mr-2 text-muted"><i class="fa fa-folder"></i>{{i.category}}</small>
                                <small class="mr-2 text-muted"><i class="fa fa-comments"></i>{{i.comments.count}} Comments</small>
                            </div>
                            <p>
                                {{i.body|truncatewords:15}}
                            </p>
                            <a class="btn btn-link p-0" href="{% url 'detail' i.pk %}">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row px-3 pb-5">
                        <nav aria-label="Page navigation">
                          <ul class="pagination m-0 mx-3">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
                <!-- Blog List End -->
                
{% endblock %}